[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=chancen
Group=www-data
WorkingDirectory=/home/chancen/chancen-services-demo
ExecStart=/home/chancen/chancen-services-demo/.env/bin/gunicorn --access-logfile csp-access.log --log-file csp-debug.log --capture-output --workers 3 --bind unix:csp.sock csp.wsgi:application

[Install]
WantedBy=multi-user.target
