certifi==2017.4.17
chardet==3.0.4
Django==1.11.20
django-authtools==1.6.0
django-loginas==0.3.2
django-material==1.0.0
django-salesforce==0.7.2
gunicorn==19.7.1
idna==2.5
psycopg2==2.7.1
pytz==2017.2
requests==2.18.1
simplejson==3.11.1
urllib3==1.21.1
pandas==0.20.3
xlrd==1.1.0
imgkit==1.0.1
xhtml2pdf==0.2.3
boto3==1.10.30
django-storages==1.8