{% extends 'layout/registration.html' %}

{% load i18n %}

{% block registration %}
    {% if form.errors %}
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
        <div class="mdl-snackbar__text">{{ form.non_field_errors | first }}</div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    {% endif %}
    <section class="container">
        <div id="cube" class="show-front">
            <figure class="front">
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
                        <h2 class="mdl-card__title-text">{% trans 'Congratulations!' %}</h2>
                    </div>

                    <div class="mdl-card__supporting-text mdl-card--expand">
                        {% trans 'Your new password has been successfully set.' %}
                    </div>

                    <div class="mdl-card__actions mdl-card--border mdl-dialog__actions">
                        <a href="{% url 'authentication:login' %}" class="mdl-color-text--primary csp--dialog-action">{% trans 'Proceed to login' %}</a>
                    </div>
                </div>
            </figure>
        </div>
    </section>
{% endblock %}