{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'My Chancen' %}{% endblock %}

{% block content %}
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a id="account-tab" href="#account-panel" class="mdl-tabs__tab">{% trans 'Account' %}</a>
        <a id="invoices-tab" href="#invoices-panel" class="mdl-tabs__tab">{% trans 'Invoices' %}</a>
    </div>

    <div class="mdl-tabs__panel" id="account-panel">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          {% include "snippets/student_account.html" with class="csp--full-width" %}
        </div>

        {% if master_contact %}
        <div class="mdl-cell--12-col">
          <h5 class="mdl-typography--headline">{% trans 'Registered contacts' %}</h5>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          {% include "snippets/student_contact.html" with contact=master_contact class="csp--full-width" %}
        </div>
        {% else %}
          <h3 class="mdl-typography--headline">{% trans 'No contact information found' %}</h3>
        {% endif %}
        {% for contact in account.contact_set.all %}
          {% if contact != master_contact %}
            <div class="mdl-cell mdl-cell--12-col">
              {% include "snippets/contact_card.html" %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="mdl-tabs__panel" id="contacts-panel">
    </div>

    <div class="mdl-tabs__panel" id="invoices-panel">
      {% if invoices %}
        {% include "snippets/student_invoices.html" %}
      {% else %}
        <h3 class="mdl-typography--headline">{% trans 'No invoices found' %}</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script>
  (function () {
    var hash = window.location.hash || '#account';
    $(hash+'-tab').addClass('is-active');
    $(hash+'-panel').addClass('is-active');
  }.call(this));
  </script>
{% endblock %}