{% load i18n %}

<div class="mdl-grid">
    <div class="mdl-cell--12-col">
        <h5 class="mdl-typography--headline">{% trans 'Matriculation data' %}</h5>
    </div>
    <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('First name') value=sf_contact.first_name %}
    </div>
    <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Last name') value=sf_contact.last_name %}
    </div>
    <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Date of Birth') value=sf_account.geburtsdatum type="date" %}
    </div>
    <div class="mdl-cell">
      {% include 'snippets/field-text.html' with label=_('University') value=sf_account.hochschule_ref.name %}
    </div>
    <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Matriculation number') value=sf_account.immatrikulationsnummer %}
    </div>
    <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Status') value=sf_account.status %}
    </div>
    <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Course') value=sf_account.get_active_contract.studiengang_ref.name_studiengang_auto %}
    </div>
    <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('University email address') value=sf_account.unimailadresse %}
    </div>

    <div class="mdl-cell--12-col">
        {% include 'snippets/input-check.html' with field=form.approved %}
    </div>
</div>
