{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/stepper.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/mdl-selectfield.min.css' %}" />
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    {% include 'snippets/stepper.html' with id='onboarding-stepper'%}
{% endblock %}


{% block extrajs %}
    <script src="{% static '/js/stepper.min.js' %}"></script>
    <script src="{% static '/js/mdl-selectfield.min.js' %}"></script>
{% endblock %}