{% extends 'layout/dashboard.html' %}


{% load static %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
  <link rel="stylesheet" href="{% static '/css/mdl-selectfield.min.css' %}" />
{% endblock %}


{% block navigation %}
<a class="mdl-navigation__link" href="{% url 'integration:courses' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">school</i>{% trans 'Courses' %}</a>
<a class="mdl-navigation__link" href="{% url 'integration:students' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">group</i>{% trans 'Students' %}</a>
{% endblock %}

{% block fab_options %}
<div id="dlg-add-students" class="mdl-dialog {% if display_st %}is-showing-dialog{% endif %}">
    <h4 class="mdl-dialog__title">{% trans 'Upload from your computer' %}</h4>
    <form enctype="multipart/form-data" method="post" action="{% url 'integration:upload_review' uuid='new' %}"
          onsubmit="document.getElementById('upload-progress-st').classList.add('is-active')"
          onabort="document.getElementById('upload-progress-st').classList.remove('is-active')">

        {% csrf_token %}

        <input type="hidden" name="view_name" value="{{ view.template_name }}">

        <div class="mdl-dialog__content">
            {% include 'snippets/select.html' with field=st_form.course %}
            {% include 'snippets/input-file.html' with field=st_form.csv type='file' pref='st_' %}
            <div id="upload-progress-st" class="mdl-spinner mdl-js-spinner"></div>
        </div>
        <div class="mdl-dialog__actions">
            <input type="submit"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                   value="Upload">
        </div>
    </form>
</div>

<div id="dlg-add-courses" class="mdl-dialog {% if display_cs %}is-showing-dialog{% endif %}">
    <h4 class="mdl-dialog__title">{% trans 'Upload from your computer' %}</h4>
    <form enctype="multipart/form-data" method="post"
          onsubmit="document.getElementById('upload-progress-cs').classList.add('is-active')"
          onabort="document.getElementById('upload-progress-cs').classList.remove('is-active')">

        {% csrf_token %}

        <div class="mdl-dialog__content">
            {% include 'snippets/input-file.html' with field=cs_form.csv type='file' pref='cs_' %}
            <div id="upload-progress-cs" class="mdl-spinner mdl-js-spinner"></div>
        </div>
        <div class="mdl-dialog__actions">
            <input type="submit"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                   value="Upload">
        </div>
    </form>
</div>

<div id="dlg-bulk-actions" class="mdl-dialog {% if display_bulk %}is-showing-dialog{% endif %}">
    <h4 class="mdl-dialog__title">{% trans 'Changes will apply to selected rows' %}</h4>
    <form action="{% url 'integration:students_bulk' %}" method="post">
        {% csrf_token %}

        <div class="mdl-dialog__content">
            <input id="selected_students" type="hidden" name="students" value="" />
            {% include 'snippets/select.html' with field=bulk_form.status %}
            {% include 'snippets/select.html' with field=bulk_form.course %}
        </div>
        <div class="mdl-dialog__actions">
            <input type="submit"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                   value="Confirm">
        </div>
    </form>
</div>

{% if form.non_field_errors %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ form.non_field_errors | first }}</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endif %}

<button id="fab-add-students" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">group_add</i>
</button>
<button id="fab-add-courses" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">school</i>
</button>
<div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="fab-add-students">
  {% trans 'Students' %}
</div>
<div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="fab-add-courses">
  {% trans 'Courses' %}
</div>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script src="{% static '/js/mdl-selectfield.min.js' %}"></script>
  <script src="{% static '/js/dashboard-staff.js' %}"></script>
{% endblock %}