{% extends 'staff/dashboard.html' %}

{% load static %}
{% load i18n %}
{% load csp %}

{% block title %}
  {% if courses %}
    {% trans 'Displaying' %} {{ courses.object_list | length }} / {{ courses.paginator.count}}
  {% else %}
    {% trans 'No courses found to match this criteria' %}
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" class="mdl-cell--12-col mdl-grid">
    {% csrf_token %}
    <div class="mdl-cell mdl-cell--2-col mdl-cell--9-offset-desktop mdl-cell--5-offset-tablet">
      {% include 'snippets/input.html' with field=form.semester_fee_new %}
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--middle">
      <input type="submit" value="{% trans 'Update' %}"
             class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white">
    </div>
  </form>

  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp csp--full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric csp--full-width">{% trans 'Course name' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Standard Period of Studies' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost per semester' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost per month' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Cost per month beyond Standard Period' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Matriculation fee' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Fee Semester abroad' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Fee Semester off' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Start of Studies' %}</th>
          <!--th class="mdl-data-table__cell--non-numeric">{% trans 'Summer Semester' %}</th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Winter Semester' %}</th-->
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr data-student="{{ course.pk }}">
            <td class="mdl-data-table__cell--non-numeric">{{ course.name }}
              <!-- a href="{% url 'integration:course_review' course.pk %}">{{ course.name }}</a -->
            </td>
            <td class="mdl-data-table__cell">{{ course.standard_period_of_study|floatformat:"0" }}</td>
            <td class="mdl-data-table__cell">{{ course.cost_per_semester|currency }}</td>
            <td class="mdl-data-table__cell">{{ course.cost_per_month|currency }}</td>
            <td class="mdl-data-table__cell">{{ course.cost_per_month_beyond_standard|currency }}</td>
            <td class="mdl-data-table__cell">{{ course.matriculation_fee | currency }}</td>
            <td class="mdl-data-table__cell">{{ course.fee_semester_abroad | currency }}</td>
            <td class="mdl-data-table__cell">{{ course.fee_semester_off | currency }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ course.start_of_studies|date:"d.m.Y" }}</td>
            <!--td class="mdl-data-table__cell--non-numeric">{{ course.start_summer_semester }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ course.start_winter_semester }}</td-->
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'snippets/paginator_basic.html' with class="mdl-cell mdl-cell--12-col" page=courses %}
  </div>
{% endblock %}