{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
  <link rel="stylesheet" href="{% static '/css/mdl-selectfield.min.css' %}" />
{% endblock %}


{% block navigation %}
<a class="mdl-navigation__link" href="{% url 'integration:courses' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">school</i>{% trans 'Courses' %}</a>
<a class="mdl-navigation__link" href="{% url 'integration:students' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">group</i>{% if contact.account.is_services_customer %}{% trans 'Sofortzahler' %}{% else %}{% trans 'Students' %}{% endif %}</a>
{% if contact.account.is_eg_customer %}
<a class="mdl-navigation__link" href="{% url 'integration:applications' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">content_paste</i>{% trans 'Applications' %}</a>
<a class="mdl-navigation__link" href="{% url 'integration:invoices' %}">
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">receipt</i>{% trans 'Invoices' %}</a>
{% endif %}
{% endblock %}

{% block content%}
{% if st_form is not None %}
  {% include 'dialogs/upload-students.html' with form=st_form %}
{% endif %}
{% if ap_form is not None %}
  {% include 'dialogs/upload-applications.html' with form=ap_form %}
{% endif %}
{# include 'dialogs/upload-courses.html' with form=cs_form #}
{% if bulk_form is not None %}
  {% include 'dialogs/bulk-actions.html' with form=bulk_form %}
{% endif %}
{% endblock %}

{% block fab_options %}

{% if form.non_field_errors %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ form.non_field_errors | first }}</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endif %}

{% for message in messages %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ message }}</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endfor %}

{% if contact.account.is_services_customer %}
<!-- button id="fab-add-student" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
    <i class="material-icons">person</i>
</button -->
<button id="fab-add-students" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">group_add</i>
</button>
<!-- button id="fab-add-courses" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">school</i>
</button -->
<div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="fab-add-student">
    {% if contact.account.is_services_customer %}{% trans 'Sofortzahler' %}{% else %}{% trans 'Student' %}{% endif %}
</div>
<div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="fab-add-students">
    {% if contact.account.is_services_customer %}{% trans 'Sofortzahler' %}{% else %}{% trans 'Students' %}{% endif %}
</div>
{% endif %}
{% if contact.account.is_uploader %}
<button id="fab-add-applications" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
    <i class="material-icons">content_paste</i>
</button>
<div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="fab-add-applications">
    {% trans 'UGV Applicants' %}
</div>
{% endif %}
<!-- div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="fab-add-courses">
  {% trans 'Courses' %}
</div-->
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script src="{% static '/js/mdl-selectfield.min.js' %}"></script>
  <script src="{% static '/js/dashboard-staff.js' %}"></script>
  <script>
    (function() {
      {% if display_st %}
        var showDlg = window.showDlgSts;
      {% elif display_ap %}
        var showDlg = window.showDlgApp;
      {% elif display_semester_fee %}
        var showDlg = window.showDlgSms;
      {% elif display_bulk %}
        var showDlg = window.showDlgBlk;
      {% else %}
        var showDlg = function () {};
      {% endif %}
      setTimeout(showDlg, 100);
    }.call(this));
  </script>
{% endblock %}