{% load i18n %}

<div class="mdl-cell mdl-cell--12-col">
  <h5 class="mdl-typography--headline">{{ contract.record_type.name }} - {{ contract.display_name }}</h5>
</div>
<div class="mdl-card mdl-shadow--6dp mdl-cell mdl-cell--12-col {{ class }}">
  <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell">
          {% include 'snippets/field-text.html' with label=_('University') value=contract.university_ref.name type="text" %}
      </div>
      {% if contract.record_type.developer_name == 'Ruckzahler' %}
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('Valid from') value=contract.valid_from type="date" %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Net funding amount') value=contract.net_funding_amount type="currency" %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Repayment period') value=contract.repayment_period type="int" %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Relevant repayment period') value=contract.relevant_repayment_period type="int" %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Maximum repayment') value=contract.maximum_repayment type="currency" %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Repayment amount') value=contract.repayment_amount type="percent" %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Minimal monthly instalments') value=contract.minimal_monthly_instalments type="currency" %}
        </div>
        <!-- div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('') value=contract. type="" %}
        </div -->
      {% elif contract.record_type.developer_name == 'Membership' %}
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('Entry date') value=contract.entry_date type="date" %}
        </div>
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('Membership number') value=contract.membershipnumber type="text" %}
        </div>
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('Credit balances account number') value=contract.credit_balances_account_number type="text" %}
        </div>
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('Amount of cooperative shares') value=contract.amount_of_cooperative_shares type="int" %}
        </div>
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('Nominal value of a cooperative share') value=contract.nominal_value_cooperative_share type="currency" %}
        </div>
      {% elif contract.record_type.developer_name == 'Transfer_Agreement' %}
      {% endif %}
  </div>

  <div class="mdl-card__menu">
    {% if contract.attachment %}
        <a href="{% url 'integration:download_attachment' pk=contract.attachment.id %}" title="{% trans 'Download' %}" 
           class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">file_download</i>
        </a>
    {% else %}
        <a disabled="disabled" title="{% trans 'Download' %}" 
           class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">file_download</i>
        </a>
    {% endif %}
  </div>

</div>
