{% load i18n %}

<div class="mdl-cell mdl-cell--12-col">
  <h5 class="mdl-typography--headline">{{ contract.record_type.name }} - {{ contract.display_name }}</h5>
</div>
<div class="mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col {{ class }}">
  <div class="mdl-card__supporting-text mdl-grid">
    <div class="mdl-typography--subhead">{% trans 'Contract data' %}</div>
      {% if contract.record_type.name == 'Rückzahler' %}
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('Valid from') value=contract.valid_from %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Net funding amount') value=contract.net_funding_amount %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Repayment period') value=contract.repayment_period %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Relevant repayment period') value=contract.relevant_repayment_period %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Maximum repayment') value=contract.maximum_repayment %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Repayment amount') value=contract.repayment_amount %}
        </div>
        <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Minimal monthly instalments') value=contract.minimal_monthly_instalments %}
        </div>
        <div class="mdl-cell">
            {% include 'snippets/field-text.html' with label=_('') value=contract. %}
        </div>
      {% endif %}
  </div>
</div>
