{% load csp %}

<div class="mdl-textfield mdl-textfield--floating-label is-dirty">
  {% if type == 'int' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | default:"0" | floatformat:"0" }}</div>
  {% elif type == 'float' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | floatformat:"2" }}</div>
  {% elif type == 'currency' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | currency }}</div>
  {% elif type == 'date' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | date:"d.m.Y" }}</div>
  {% else %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | default:"--" | safe }}</div>
  {% endif %}
  <label class="mdl-textfield__label">{{ label }}</label>
  {% if help_text %}
  <span class="mdl-textfield__help">{{ help_text }}</span>
  {% endif %}
</div>
