{% load csp %}

<div class="mdl-textfield mdl-textfield--floating-label is-dirty">
  {% if type == 'int' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | default:"0" | floatformat:"0" }}</div>
  {% elif type == 'float' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | floatformat:"2" }}</div>
  {% elif type == 'percent' %}
  <div class="mdl-typography--font-light mdl-typography--title">{{ value | floatformat:"2" }} %</div>
  {% elif type == 'currency' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | currency }}</div>
  {% elif type == 'date' %}
    <div class="mdl-typography--font-light mdl-typography--title">{{ value | date:"d.m.Y" }}</div>
  {% else %}
    {% if maxlength and value|length > maxlength  %}
      <div id="{{ id }}" class="mdl-typography--font-light mdl-typography--title">{{ value | default:"--" | safe | truncatechars:maxlength }}</div>
        {% if id and tooltip  %}
          <div class="mdl-tooltip" for="{{ id }}">
            {{ tooltip }}
          </div>
        {% endif %}
    {% else %}
      <div class="mdl-typography--font-light mdl-typography--title">{{ value | default:"--" | safe }}</div>
    {% endif %}
  {% endif %}
  <label class="mdl-textfield__label">{{ label }}</label>
  {% if help_text %}
  <span class="mdl-textfield__help">{{ help_text }}</span>
  {% endif %}
</div>
