<div class="mdl-date-textfield mdl-js-date-textfield mdl-date-textfield--floating-label {% if field.errors %} is-dirty {% endif %}">
    <input class="mdl-date-textfield__input" 
           type="text" 
           id="{{ field.id_for_label }}" 
           name="{{ field.html_name }}" 
           value="{{ field.value | default:"" | date:"Y-m-d" }}"/>
    <label class="mdl-date-textfield__label" 
           for="{{ field.id_for_label }}">{{ field.label }}
        {% if field.field.required %}
        <span class="mdl-color-text--red">*</span>
        {% endif %}
    </label>

    {% if field.help_text %}
    <span class="mdl-date-textfield__help">{{ field.help_text }}</span>
    {% endif %}

    {% if field.errors %}
        <span class="mdl-date-textfield__error">{{ field.errors | first | escape }}</span>
    {% endif %}
</div>
