<div class="mdl-radiofield {% if field.errors %}is-invalid{% endif %}"> 
  {% for opt in field %}
    {% if opt.choice_label %}
    <div>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ opt.id_for_label }}">
        <input type="radio" id="{{ opt.id_for_label }}" class="mdl-radio__button" name="{{ field.html_name }}" value="{{ opt.choice_label }}">
        <span class="mdl-radio__label">{{ opt.choice_label | title }}</span>
      </label>
    </div>
    {% endif %}
  {% endfor %}
  {% if field.errors %}
    <div class="mdl-cell--12-col">
      {% for error in field.errors %}
          <span class="mdl-radiofield__error">{{ error | escape }}</span>
      {% endfor%}
    </div>
  {% endif %}
</div>