{% load i18n %}

<div class="mdl-card mdl-card-account mdl-shadow--6dp {{ class }}">
  {% if form %}
    <form method="post">
      {% csrf_token %}
  {% endif %}

  <div class="mdl-card__title relative mdl-color--light-green-200">
    <h2 class="mdl-card__title-text">{% trans 'Contract number' %}: {{ contract.contract_number }}</h2>
  </div>

  <div class="mdl-card__supporting-text mdl-grid">
    <div class="mdl-cell">
      {% if form %}
        {% include 'snippets/select.html' with field=form.course %}
      {% else %}
        {% include 'snippets/field-text.html' with label=_('Course') value=contract.studiengang_ref.name %}
      {% endif %}
    </div>
    <div class="mdl-cell">
      {% include 'snippets/field-text.html' with label=_('Payment interval') value=contract.payment_interval %}
    </div>
  </div>

  {% if discount_form %}
  <div class="mdl-card__supporting-text mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <h4 class="mdl-typography--headline mdl-underlined mdl-underlined--1">{% trans 'Discount data' %}</h4>
    </div>
    {# include 'snippets/input.html' with field=discount_form.contract type='hidden' #}
    <input type="hidden" name="{{ discount_form.contract.html_name }}" value="{{ discount_form.contract.value }}" />
    <div class="mdl-cell">{% include 'snippets/select.html' with field=discount_form.discount_type %}</div>
    <div class="mdl-cell">{% include 'snippets/input.html' with field=discount_form.discount_tuition_fee type='number' %}</div>
    <div class="mdl-cell">{% include 'snippets/input.html' with field=discount_form.discount_semester_fee type='number' %}</div>
  </div>
  {% endif %}

  {% if form %}
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-grid">
        <input type="submit" class="mdl-cell mdl-cell--9-offset mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
               value="{% trans 'Confirm changes' %}">
      </div>
    </div>
  </form>
  {% endif %}
</div>