{% load i18n %}

<form method="post" class="mdl-cell mdl-cell--12-col">
  {% csrf_token %}

  <div class="mdl-cell mdl-cell--12-col">
      <h5 class="mdl-typography--headline">{% trans 'Matriculation data' %}</h5>
  </div>
  <div class="mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col {{ class }}">
    <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('University') value=contact.account.name %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/input.html' with field=form.immatrikulationsnummer %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/input.html' with field=form.unimailadresse type='email' %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/select.html' with field=form.status %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/select.html' with field=form.course %}
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <h5 class="mdl-typography--headline">{% trans 'Personal data' %}</h5>
  </div>
  <div class="mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col {{ class }}">
    <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell">
        {% include 'snippets/input.html' with field=form.first_name %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/input.html' with field=form.last_name %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/input.html' with field=form.geburtsdatum type="date" %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/input.html' with field=form.email type='email' %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/input.html' with field=form.mobile_phone type='phone' %}
      </div>
      <div class="mdl-cell--8-col">
        {% include 'snippets/address.html' with title=_('Address') street=form.street zip=form.zip city=form.city country=form.country %}
      </div>
    </div>
  </div>

  <div class="mdl-dialog__actions">
    <input type="submit" name="save"
           class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
           value="{% trans 'Save' %}">
    <input type="submit" name="save-new"
           class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
           value="{% trans 'Save and New' %}">
    <div class="mdl-layout-spacer"></div>
    <a href="{% url 'integration:dashboard' %}" class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect mdl-color-text--white">{% trans 'Cancel'%}</a>
  </div>
</form>


