{% load i18n %}

<div class="mdl-cell--12-col">
  <h5 class="mdl-typography--headline">{% trans 'Matriculation data' %}</h5>
</div>
<div class="mdl-color--white mdl-shadow--6dp mdl-cell--12-col {{ class }}">
  {% if form %}
    <form method="post">
      {% csrf_token %}
  {% endif %}
  <div class="mdl-card__supporting-text mdl-grid">
    <div class="mdl-cell">
      {% include 'snippets/field-text.html' with label=_('University') value=account.hochschule_ref.name %}
    </div>
    <div class="mdl-cell">
      {% include 'snippets/field-text.html' with label=_('Matriculation number') value=account.immatrikulationsnummer %}
    </div>
    <div class="mdl-cell">
      {% include 'snippets/field-text.html' with label=_('Email') value=account.unimailadresse %}
    </div>
    <div class="mdl-cell">
      {% if form %}
      {% include 'snippets/select.html' with field=form.status %}
      {% else %}
      {% include 'snippets/field-text.html' with label=_('Status') value=account.status %}
      {% endif %}
    </div>
    <div class="mdl-cell">
      {% include 'snippets/field-text.html' with label=_('Degree Course') value=account.get_course.name %}
    </div>
    {% if contract %}
    <div class="mdl-cell">
      {% include 'snippets/field-text.html' with label=_('Payment interval') value=contract.payment_interval %}
    </div>
    {% endif %}
  </div>
  {% if form %}
      <div class="mdl-dialog__actions">
        <input type="submit"
               class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
               value="{% trans 'Confirm changes' %}">
      </div>
    </form>
  {% endif %}
</div>

<div class="mdl-cell--12-col">
  <h5 class="mdl-typography--headline">{% trans 'Personal data' %}</h5>
</div>
<div class="mdl-color--white mdl-shadow--6dp mdl-cell--12-col {{ class }}">
    <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Name') value=account.name %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Birth day') value=account.geburtsdatum type='date' %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Birth city') value=account.geburtsort %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Birth country') value=account.geburtsland %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Gender') value=account.geschlecht %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Nationality') value=account.staatsangehoerigkeit %}
      </div>
      <div class="mdl-cell">
        {% include 'snippets/field-text.html' with label=_('Language') value=account.kommunikationssprache %}
      </div>
    </div>
</div>
