{% load i18n %}
{% load static %}

<dialog id="dlg-revoke-mandate" class="mdl-dialog">
    <h4 class="mdl-dialog__title">{% trans 'Are you sure?' %}</h4>
    <form action="{% url 'integration:dashboard' %}" method="post">
        {% csrf_token %}

        <div class="mdl-dialog__content">
            {% include 'snippets/input-check.html' with field=form.cancel_bank_account %}
        </div>
        <div class="mdl-dialog__actions">
            <input type="submit" value="{% trans 'Confirm' %}"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
        </div>
    </form>
</dialog>
