{% load i18n %}
{% load static %}

<dialog id="dlg-revoke-mandate" class="mdl-dialog">
    <h4 class="mdl-dialog__title">{% trans 'Are you sure?' %}</h4>
    <form action="{% url 'integration:dashboard' %}" method="post">
        {% csrf_token %}

        <div class="mdl-dialog__content">
            {% if account.is_person_account %}
                {% include 'snippets/input-check.html' with field=form.cancel_bank_account_pc %}
            {% else %}
                {% include 'snippets/input-check.html' with field=form.cancel_bank_account %}
            {% endif %}
        </div>
        <div class="mdl-dialog__actions">
            <input type="submit" value="{% trans 'Confirm' %}"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
                   id="confirm_revoke">
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">

        {% if account.is_person_account %}
            var chkRevoke = '#{{ form.cancel_bank_account_pc.id_for_label }}';
        {% else %}
            var chkRevoke = '#{{ form.cancel_bank_account.id_for_label }}';
        {% endif %}

        $('#confirm_revoke').attr('disabled', 'disabled');
        $(chkRevoke).click(function(){
            if($(this).prop('checked')  === false){
                $('#confirm_revoke').attr('disabled', 'disabled');
            }else {
                $('#confirm_revoke').removeAttr('disabled');
            }
        });
    </script>

</dialog>
