{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'My CHANCEN Account' %}{% endblock %}

{% block content %}
  {% if not account.sepalastschriftmandat_erteilt_auto %}
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
      <div class="mdl-snackbar__text">
          {% trans 'You have not authorized us to debit your account. Without permission from you we cannot debit the payments due which are essential part of your ISA (e.g. membership share or repayments).' %}
      </div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  {% endif %}

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a id="account-tab" href="#account-panel" class="mdl-tabs__tab is-active">{% trans 'Account' %}</a>
        <a id="payment-tab" href="#payment-panel" class="mdl-tabs__tab">{% trans 'Payment data' %}</a>
    </div>

    <div class="mdl-tabs__panel {% if not account.sepalastschriftmandat_erteilt_auto %}has-snack{% endif %} is-active" id="account-panel">
        <div class="mdl-grid">
          <div class="mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col {{ class }}">
              <div class="mdl-card__supporting-text mdl-grid">
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Name') value=account.name %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Phone') value=account.phone %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Mobile Phone') value=account.person_mobile_phone %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Email') value=account.person_email %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Language') value=account.kommunikationssprache %}
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <span class="mdl-typography--title">{% trans 'Address' %}</span>
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Street and House number') value=account.person_mailing_street %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Postal code') value=account.person_mailing_postal_code %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('City') value=account.person_mailing_city %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Country') value=account.person_mailing_country %}
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="mdl-tabs__panel {% if not account.sepalastschriftmandat_erteilt_auto %}has-snack{% endif %}" id="payment-panel">
      <div class="mdl-grid">
        <div class="mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col {{ class }}">
          <div class="mdl-card__supporting-text mdl-grid">
              {% if not account.sepalastschriftmandat_erteilt_auto %}
              <div class="mdl-color--white mdl-shadow--6dp mdl-cell--12-col csp--full-width mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                  <p class="mdl-typography--body-2">
                    {% trans 'Authorize us to collect the study fees by direct debit from your account.' %}</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                  <a href="{{ master_contact.sepamandate_url_auto}}"
                     class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised mdl-color-text--white">{% trans 'Grant mandate' %}</a>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                  <p class="mdl-typography--body-2">
                    {% trans 'If someone else is paying your tuition fees, please send them the following link and close this window.' %}</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center csp--word-wrap">
                  <p class="mdl-typography--title mdl-typography--font-light mdl-color-text--accent">{{ master_contact.sepamandate_url_auto }}</p>
                </div>
              </div>
              {% else %}
                {% include 'snippets/repayer_payment.html' with ba=master_contact.bank_account class="mdl-cell csp--full-width" %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}