{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'My CHANCEN Account' %}{% endblock %}

{% block content %}
  {% if clarification_needed or not account.sepalastschriftmandat_erteilt_auto %}
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
      <div class="mdl-snackbar__text">
        {% if not account.sepalastschriftmandat_erteilt_auto %}
          {% trans 'You have not authorized us to debit your account. Without permission from you we cannot debit the payments due which are essential part of your ISA (e.g. membership share or repayments).' %}
        {% elif clarification_needed %}
          {% trans 'One or more cases requires your attention.' %}
        {% endif %}
      </div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  {% endif %}

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a id="account-tab" href="#account-panel" class="mdl-tabs__tab is-active">{% trans 'Your data' %}</a>
        <a id="contracts-tab" href="#contracts-panel" class="mdl-tabs__tab">{% trans 'Contracts' %}</a>
        <a id="support-tab" href="#support-panel" class="mdl-tabs__tab">{% trans 'Requests and Repayment' %}
          {% if clarification_needed %}<i class="material-icons mdl-color-text--accent">notification_important</i>{% endif %}
        </a>
    </div>

    <div class="mdl-tabs__panel {% if not account.sepalastschriftmandat_erteilt_auto %}has-snack{% endif %} is-active" id="account-panel">
        <div class="mdl-grid">
          <div class="mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col {{ class }}">
              <div class="mdl-card__supporting-text mdl-grid">
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Name') value=account.name %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Phone') value=account.phone %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Mobile Phone') value=account.person_mobile_phone %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Email') value=account.person_email %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Language') value=account.kommunikationssprache %}
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <span class="mdl-typography--title">{% trans 'Contact Address' %}</span>
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Street and House number') value=account.shipping_street %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Postal code') value=account.shipping_postal_code %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('City') value=account.shipping_city %}
                  </div>
                  <div class="mdl-cell">
                    {% include 'snippets/field-text.html' with label=_('Country') value=account.shipping_country %}
                  </div>
              </div>
          </div>
          {% include 'snippets/payment_data.html' %}
        </div>
    </div>

    <div class="mdl-tabs__panel" id="contracts-panel">
      {% for contract in contracts %}
        {% include 'snippets/contract_card.html' %}
      {% empty %}
        <div class="mdl-cell mdl-cell--12-col">
          <h5 class="mdl-typography--headline">{% trans 'No contracts found' %}</h5>
        </div>
      {% endfor %}
    </div>

    <div class="mdl-tabs__panel" id="support-panel">
      <div class="mdl-grid">
        <h5 class="mdl-typography--headline">{% trans 'Open cases' %}</h5>
        <div class="mdl-layout-spacer"></div>
        <h5><a href="{% url 'integration:new_request' %}" style="float:right"
             class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect mdl-color-text--white">{% trans 'New' %}</a></h5>
      </div>
      {% for case in cases %}
        {% include 'snippets/case_card.html' %}
      {% endfor %}

      {% if closed_cases %}
        <div class="mdl-grid">
          <h5 class="mdl-typography--headline">{% trans 'Closed cases' %}</h5>
        </div>
        {% for case in closed_cases %}
          {% include 'snippets/case_card.html' %}
        {% endfor %}
      {% endif %}
    </div>
  

  </div>

{% endblock %}