{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'New request' %}{% endblock %}

{% block extrahead %}
{{ block.super }}
    <link rel="stylesheet" href="{% static '/css/mdl-selectfield.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/mdDateTimePicker.min.css' %}" />
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ form.non_field_errors | first }}</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endif %}

<div class="mdl-card mdl-shadow--6dp mdl-cell--12-col">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mdl-card__supporting-text mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                {% include 'snippets/select.html' with field=form.type type='email'%}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                {% include 'snippets/input.html' with field=form.subject type='text' %}
            </div>

            <div class="mdl-cell mdl-cell--4-col">
                {% include 'snippets/input.html' with field=form.effective_start_trig type='date'%}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {% include 'snippets/input.html' with field=form.effective_end type='date' %}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {% include 'snippets/input.html' with field=form.relevant_income_trig type='number' %}
            </div>
            
            <div class="mdl-cell mdl-cell--12-col">
                {% include 'snippets/input-textarea.html' with field=form.description %}
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                {% include 'snippets/input-file.html' with field=form.evidence multiple="multiple" %}
            </div>
        </div>

        {% if case.pk %}
            <div class="mdl-card__supporting-text mdl-grid">
                {% for fi in case.feeditem_set.all %}
                    {% if fi.related_record.meta.object_name == "ContentVersion" %}
                        <div class="mdl-cell mdl-cell--6-col">
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--accent mdl-color-text--white">
                                    <i class="material-icons">cloud_done</i>
                                </span>
                                <span class="mdl-chip__text">{{ fi.related_record.title }}</span>
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="mdl-card__actions mdl-card--border mdl-dialog__actions">
            <input type="submit" class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
                   value="{% trans 'Submit' %}">
            <a href="{% url 'integration:dashboard' %}"
               class="mdl-button">{% trans 'Discard' %}</a>
        </div>
    </form>
</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
    <script src="{% static '/js/mdl-selectfield.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.js"></script>
    <script src="{% static '/js/mdDateTimePicker.min.js' %}"></script>

    <script defer>
      !function() {
        "use strict";
        const start_date = document.querySelector('#id_effective_start_trig');
        var dialogStart = new mdDateTimePicker.default({
          type: 'date',
          init: moment(),
          past: moment(),
          future: moment().add(5, 'years'),
          trigger: start_date
        });
        start_date.addEventListener('focus', function() {
          dialogStart.toggle();
        });
        start_date.addEventListener('onOk', function(d) {
          this.value = dialogStart.time.format("YYYY-MM-DD");
          this.parentNode.classList.add('is-dirty');
          end_date.past = this.value;
        });
        start_date.addEventListener('onCancel', function(d) {
          if (! this.value)
            this.parentNode.classList.remove('is-dirty');
        });

        const end_date = document.querySelector('#id_effective_end');
        var dialogEnd = new mdDateTimePicker.default({
          type: 'date',
          init: moment(),
          past: moment(),
          future: moment().add(5, 'years'),
          trigger: end_date
        });
        end_date.addEventListener('focus', function() {
          dialogEnd.toggle();
        });
        end_date.addEventListener('onOk', function(d) {
          this.value = dialogEnd.time.format("YYYY-MM-DD");
          this.parentNode.classList.add('is-dirty');
          start_date.future = this.value;
        });
        end_date.addEventListener('onCancel', function(d) {
          if (! this.value)
            this.parentNode.classList.remove('is-dirty');
        });

      }();
    </script>

{% endblock %}