{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'New request' %}{% endblock %}

{% block extrahead %}
{{ block.super }}
    <link rel="stylesheet" href="{% static '/css/mdl-selectfield.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/mdDateTimePicker.min.css' %}" />
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ form.non_field_errors | first }}</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endif %}

<div class="mdl-grid">
    <p><b>{% trans 'Communicate change in income' %}:</b> Hast du Informationen in Bezug auf dein voraussichtliches Bruttojahreseinkommen und deine Beschäftigungsart (nicht selbstständig oder ausschließlich selbstständig), bist du hier richtig.</p>
    <p><b>{% trans 'Communicate change of personal situation' %}:</b> Hier kannst du uns Veränderungen deiner persönlichen Daten mitteilen die nicht standardmäßig im Portal freigeschaltet sind. Du bist hier richtig, wenn du zum Beispiel einen anderen Namen angenommen hast oder sich deine Staatsangehörigkeit oder biologisches Geschlecht geändert hat.</p>
    <p><b>{% trans 'Request temporary exemption from interim payments' %}:</b> Hier bist du richtig, wenn du dich für das Jahr 2019 vorläufig von den Abschlagszahlungen befreien lassen willst, weil du dein maßgebliches Mindesteinkommen unterschreiten wirst oder einen Härtefallantrag gemäß §19 stellen möchtest. Solltest du ein weiteres Studium /Weiterbildung anstreben oder ein Kind erwarten, kannst du uns das hier mitteilen. Dein maßgebliches Mindesteinkommen liegt zunächst bei 21.000 € pro Jahr (das entspricht etwa 28.000 € / brutto, wenn du angestellt bist) (Angestellt / Selbstständig), kann durch persönliche Gründe aber höher liegen</p>
</div>

<div class="mdl-card mdl-shadow--6dp mdl-cell--12-col">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if case.all_questions %}
        <div class="mdl-card__supporting-text mdl-grid">
            <ul class="mdl-list" style="width:100%">
            {% for question in case.all_questions %}
            <li class="mdl-list__item mdl-list__item--three-line" style="height:unset">
                <span class="mdl-list__item-primary-content" style="height:unset">
                    <i class="material-icons mdl-list__item-avatar mdl-color--accent">error_outline</i>
                    <span class="mdl-list__item-text-body" style="height:unset">{{ question }}</span>
                </span>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="mdl-card__supporting-text mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                {% include 'snippets/select.html' with field=form.type type='email'%}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                {% include 'snippets/input.html' with field=form.subject type='text' %}
            </div>

            <div class="mdl-cell mdl-cell--4-col">
                {% include 'snippets/input.html' with field=form.effective_start_trig type='date'%}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {% include 'snippets/input.html' with field=form.effective_end type='date' %}
            </div>
            <div id="relevant_income_cell" class="mdl-cell mdl-cell--4-col chancen--hide">
                {% include 'snippets/input.html' with field=form.relevant_income_trig type='number' %}
            </div>
            
            <div class="mdl-cell mdl-cell--12-col">
                {% include 'snippets/input-textarea.html' with field=form.description %}
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                {% include 'snippets/input-file.html' with field=form.evidence multiple="multiple" %}
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <span id="income" class="chancen--hide">
                    Als Nachweise sind die folgenden Dokumente hilfreich:<br>
                    <ul><li>Einkommenssteuerbescheid</li>
                    <li>Bei einer nicht selbständigen Tätigkeit wären das ein vollständiger Arbeitsvertrag und eine aktuelle Lohnabrechnung.</li>
                    <li>Bei einer ausschließlich selbstständigen Tätigkeit sind eine behördliche Bestätigung deiner freiberuflichen oder gewerblichen Tätigkeit sowie eine Umsatzplanung hilfreich.</li></ul>
                </span>
                <span id="person" class="chancen--hide">
                    Hilfreiche Dokumente sind hier eine Meldebescheinigung oder eine Urkunde, aus welcher der alte und neue Name oder deine alte und neue Nationalität / sexuelle Identität hervorgehen (z.B. eine Eheurkunde oder ein alter und neuer Pass). 
                </span>
                <span id="exemption" class="chancen--hide">
                    Als Nachweise brauchen wir hierfür neben den extra aufgeführten Dokumenten idealerweise eine Bescheinigung über die Aus/Weiterbildung (z.B. Immatrikulationsbescheinigung oder zumindest Informationen zum angestrebten Programm wie Umfang, Dauer, Beginn, Bezeichnung, Vollzeit/Teilzeit) oder über die Einkommenssituation (vgl. 1 oder Kündigungsschreiben oder Nachweis vom Arbeitsamt oder Nachweis über Mutterschutz/ Elternzeit) von dir und gegebenenfalls die deines*r Partners*in, wenn du eine Erhöhung des Mindesteinkommens nach § 12 (1) geltend machen willst.<br>
                    Dein maßgebliches Mindesteinkommen liegt zunächst bei 21.000 € pro Jahr (entspricht etwa 28.000 € / brutto, wenn du angestellt bist) und kann sich durch die folgenden Gründe erhöhen (eine Verringerung ist nicht möglich):<br>
                    <ul><li>Leben in einer eingetragen Lebenspartnerschaft oder Heirat (+2.400 € / Jahr - Einkommen des*r Partners*in) -> offizielle Bestätigung/ Urkunde + Nachweis über das Einkommen deines*r Partners*in</li>
                    <li>Kinder (+ (2.400 € / Jahr) * Anzahl Kinder) - Einkommen des Partners) ) -> Geburtsurkunde, Sorgerechtserklärung + Nachweis über das Einkommen deines*r Partners*in</li>
                    <li>Beginn deiner BAföG-Rückzahlungen (+1.260 €/Jahr) -> BAföG Dokument mit Zahlungsaufforderung</li>
                    <li>Verpflichtung, monatliche Unterhaltszahlungen von über 200 € je Person (Partner*in/Kind) zu leisten -> Nachweise über rechtliche Verpflichtung (z.B. Gerichtsurteil) und tatsächliche Zahlung der Beträge (z.B. Kontoauszüge)</li>
                    <li>eine dauerhafte gesundheitliche Beeinträchtigung (Behinderung gemäß § 12 (4))</li></ul>
                    Falls du dich aus anderen Gründen für das Jahr 2019 von den Rückzahlungen befreien lassen willst (du also mehr als dein individuelles  Mindesteinkommen verdienst, aktuell aber trotzdem keine Abschlagszahlungen leisten kannst), kannst du hier einen Härtefallantrag gemäß § 19 stellen. Bitte beschreibe deine Situation und lade zum Beleg möglichst aussagekräftige Dokumente hoch. Generell zählen hierzu Kosten, die dein zur Verfügung stehendes Einkommen stark mindern, ohne von dir verursacht worden zu sein (beispielsweise Pflegekosten für Familienangehörige).
                </span>
            </div>

        </div>

        {% if case.pk %}
            <div class="mdl-card__supporting-text mdl-grid">
                {% for fi in case.feeditem_set.all %}
                    {% if fi.related_record.meta.object_name == "ContentVersion" %}
                        <div class="mdl-cell mdl-cell--6-col">
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--accent mdl-color-text--white">
                                    <i class="material-icons">cloud_done</i>
                                </span>
                                <span class="mdl-chip__text">{{ fi.related_record.title }}</span>
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="mdl-card__actions mdl-card--border mdl-dialog__actions">
            <input type="submit" class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
                   value="{% trans 'Submit' %}">
            <a href="{% url 'integration:dashboard' %}"
               class="mdl-button">{% trans 'Discard' %}</a>
        </div>
    </form>
</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
    <script src="{% static '/js/mdl-selectfield.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.js"></script>
    <script src="{% static '/js/mdDateTimePicker.min.js' %}"></script>

    <script defer>
      !function() {
        "use strict";
        const start_date = document.querySelector('#id_effective_start_trig'),
              end_date = document.querySelector('#id_effective_end');

        var dialogStart = new mdDateTimePicker.default({
          type: 'date',
          init: moment(start_date.value !== "" ? start_date.value : ''),
          past: moment().subtract(5, 'years'),
          future: end_date.value !== "" ? moment(end_date.value) : moment().add(5, 'years'),
          trigger: start_date
        });
        console.log(dialogStart);
        var dialogEnd = new mdDateTimePicker.default({
          type: 'date',
          init: moment(end_date.value !== "" ? end_date.value : ''),
          past: start_date.value !== "" ? moment(start_date.value) : moment().subtract(5, 'years'),
          future: moment().add(5, 'years'),
          trigger: end_date
        });
        console.log(dialogEnd);

        start_date.addEventListener('onOk', function(d) {
          this.value = dialogStart.time.format("YYYY-MM-DD");
          this.parentNode.classList.add('is-dirty');
          dialogEnd._past = dialogStart.time;
        });
        start_date.addEventListener('onCancel', function(d) {
          if (! this.value) {
            this.parentNode.classList.remove('is-dirty');
            start_date.removeAttribute('readonly');
          }
        });

        end_date.addEventListener('onOk', function(d) {
          this.value = dialogEnd.time.format("YYYY-MM-DD");
          this.parentNode.classList.add('is-dirty');
          dialogStart._future = dialogEnd.time;
        });
        end_date.addEventListener('onCancel', function(d) {
          if (! this.value)
            this.parentNode.classList.remove('is-dirty');
        });

        var openDialog = null;
        document.onclick = function(e) {
            if (e.target == start_date) {
                start_date.setAttribute('readonly', '');
                dialogStart.show();
                openDialog = dialogStart;
            } else if (e.target == end_date) {
                end_date.setAttribute('readonly', '');
                dialogEnd.show();
                openDialog = dialogEnd;
            } else if (! document.querySelector('#mddtp-picker__date').contains(e.target)) {
                if (openDialog != null) {
                    openDialog.hide();
                    openDialog = null;
                }
            }
        }

        const request_type = document.querySelector('#id_type');
        const relevant_income_cell = document.querySelector('#relevant_income_cell');
        const income = document.querySelector('#income');
        const person = document.querySelector('#person');
        const exemption = document.querySelector('#exemption');
        function processHelp(value) {
            relevant_income_cell.classList.add('chancen--hide');
            income.classList.add('chancen--hide');
            exemption.classList.add('chancen--hide');
            person.classList.add('chancen--hide');
            if (value == "Income Changed") {
                relevant_income_cell.classList.remove('chancen--hide');
                income.classList.remove('chancen--hide')
            } else if (value == "Personal Situation Changed") {
                person.classList.remove('chancen--hide');
            } else if (value == "Provisional Exemption") {
                exemption.classList.remove('chancen--hide')
            }
        }
        request_type.addEventListener('change', function() {
            processHelp(this.value);
        });
        processHelp(request_type.value);
      }();
    </script>

{% endblock %}