{% extends 'layout/dashboard.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'New request' %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/css/mdl-selectfield.min.css' %}" />
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ form.non_field_errors | first }}</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endif %}

<div class="mdl-card mdl-shadow--6dp mdl-cell--12-col">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mdl-card__supporting-text mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                {% include 'snippets/select.html' with field=form.type type='email'%}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                {% include 'snippets/input.html' with field=form.subject type='text' %}
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                {% include 'snippets/input-textarea.html' with field=form.description %}
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                {% include 'snippets/input-file.html' with field=form.evidence %}
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-dialog__actions">
            <input type="submit" class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
                   value="{% trans 'Submit' %}">
            <a href="{% url 'integration:dashboard' %}"
               class="mdl-button">{% trans 'Discard' %}</a>
        </div>
    </form>
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{% static '/js/mdl-selectfield.min.js' %}"></script>
{% endblock %}