{% extends 'layout/base.html' %}

{% load static %}
{% load i18n %}

{% block layout %}
  <div class="chancen-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="chancen-header mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{% block title %}{% endblock %}</span>
        <div class="mdl-layout-spacer"></div>
        {% if can_search %}
        <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" id="search" name="q" value="{{ q | default:''}}">
              <label class="mdl-textfield__label" for="search">{% trans 'Enter your query...' %}</label>
            </div>
          </div>
        </form>
        {% endif %}
        <a href="{% url 'authentication:logout' %}"
           class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white " id="chancen-logout-button">
          {% trans 'Logout' %}<i class="material-icons" role="presentation">exit_to_app</i>
        </a>
      </div>
    </header>

    {% if ignore_drawer %}
    {% else %}
    <div class="chancen-drawer mdl-layout__drawer">
      <header class="chancen-drawer-header mdl-color--primary-300">
        <!-- div class="chancen-drawer-logo">
          <img src="{% static 'img/favicon.png' %}" class="chancen-logo">
        </div -->

        <div class="chancen-avatar-dropdown">
          <span>{{ user.email }}</span>
          <div class="mdl-layout-spacer"></div>
          <!-- button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Accounts</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <li class="mdl-menu__item">hello@example.com</li>
            <li class="mdl-menu__item">info@example.com</li>
            <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
          </ul -->
        </div>
      </header>
      <nav class="chancen-navigation mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'integration:dashboard' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>{% trans 'Home' %}</a>
        {% block navigation %}
        {% endblock %}
        <div class="mdl-layout-spacer"></div>
        <a class="chancen-services--logo" href="https://chancen-eg.de"><img src="{% static 'img/chancen-services--logo.png' %}"></a>
      </nav>
    </div>
    {% endif %}
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid chancen-content">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    {% if not ignore_drawer %}
    <div id="fab_ctn" class="mdl-button--fab_flinger-container">
      <button id="fab_btn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons mdl-color-text--white">add</i>
      </button>
      <div class="mdl-button--fab_flinger-options">
        {% block fab_options %}
        {% endblock %}
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{% static '/js/dashboard.js' %}"></script>
{% endblock %}